

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

:root{
    --cor-de-fundo: #01030E;
    --cor-de-texto: #a8d62798;
    --cor-principal: #330955dc;
    --cor-secundária: #1458b1;
    --cor-destaque: #e70c72b7;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Cinzel';
    color: var(--cor-de-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    font-family: 'Cinzel';
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button{ 
    background-color: var(--cor-secundária);
    color: var(--cor-de-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-de-fundo);
}